# Data overview

### Goals:

### TODO:

In [1]:
from os.path import join, basename, splitext
from glob import glob
from dask import dataframe as dd
from matplotlib import rcParams
import pandas as pd
import dask


from deep_aqi import ROOT


pd.set_option('max_columns', 50)
pd.set_option('max_rows', 25)

In [2]:
INTERIM_DATA = join(ROOT, 'data', 'interim')

In [3]:
files = glob(f'{INTERIM_DATA}/*.parquet', recursive=True)
files

['/home/filip/projects/deep_aqi/deep_aqi/data/interim/hourly_WIND_2017.parquet',
 '/home/filip/projects/deep_aqi/deep_aqi/data/interim/hourly_PRESS_2017.parquet',
 '/home/filip/projects/deep_aqi/deep_aqi/data/interim/hourly_88101_2017.parquet',
 '/home/filip/projects/deep_aqi/deep_aqi/data/interim/hourly_TEMP_2017.parquet']

In [9]:
df = pd.read_parquet(files[1])
df

                       SiteCode           LocalDate  Barometric pressure
0        Alabama_Jefferson_2059 2017-01-01 00:00:00                991.1
1        Alabama_Jefferson_2059 2017-01-01 01:00:00                991.0
2        Alabama_Jefferson_2059 2017-01-01 02:00:00                990.8
3        Alabama_Jefferson_2059 2017-01-01 03:00:00                990.7
4        Alabama_Jefferson_2059 2017-01-01 04:00:00                991.0
5        Alabama_Jefferson_2059 2017-01-01 05:00:00                991.4
6        Alabama_Jefferson_2059 2017-01-01 06:00:00                991.9
7        Alabama_Jefferson_2059 2017-01-01 07:00:00                992.3
8        Alabama_Jefferson_2059 2017-01-01 08:00:00                992.8
9        Alabama_Jefferson_2059 2017-01-01 09:00:00                993.6
10       Alabama_Jefferson_2059 2017-01-01 10:00:00                993.6
11       Alabama_Jefferson_2059 2017-01-01 11:00:00                993.1
...                         ...                 ...                  ...
2517358      Wyoming_Weston_800 2017-12-31 12:00:00                880.8
2517359      Wyoming_Weston_800 2017-12-31 13:00:00                880.1
2517360      Wyoming_Weston_800 2017-12-31 14:00:00                879.4
2517361      Wyoming_Weston_800 2017-12-31 15:00:00                879.8
2517362      Wyoming_Weston_800 2017-12-31 16:00:00                879.8
2517363      Wyoming_Weston_800 2017-12-31 17:00:00                880.1
2517364      Wyoming_Weston_800 2017-12-31 18:00:00                880.5
2517365      Wyoming_Weston_800 2017-12-31 19:00:00                881.1
2517366      Wyoming_Weston_800 2017-12-31 20:00:00                881.1
2517367      Wyoming_Weston_800 2017-12-31 21:00:00                881.1
2517368      Wyoming_Weston_800 2017-12-31 22:00:00                881.1
2517369      Wyoming_Weston_800 2017-12-31 23:00:00                880.8

[2517370 rows x 3 columns]

In [5]:
df

,SiteCode,LocalDate,Wind Direction - Resultant,Wind Speed - Resultant
0,Alabama_Jefferson_2059,2017-01-01 00:00:00,165.0,0.3
1,Alabama_Jefferson_2059,2017-01-01 01:00:00,158.0,0.2
2,Alabama_Jefferson_2059,2017-01-01 02:00:00,113.0,0.4
3,Alabama_Jefferson_2059,2017-01-01 03:00:00,110.0,0.3
4,Alabama_Jefferson_2059,2017-01-01 04:00:00,63.0,0.1
5,Alabama_Jefferson_2059,2017-01-01 05:00:00,86.0,0.3
6,Alabama_Jefferson_2059,2017-01-01 06:00:00,57.0,0.5
7,Alabama_Jefferson_2059,2017-01-01 07:00:00,63.0,0.6
8,Alabama_Jefferson_2059,2017-01-01 08:00:00,62.0,0.4
9,Alabama_Jefferson_2059,2017-01-01 09:00:00,79.0,0.6
10,Alabama_Jefferson_2059,2017-01-01 10:00:00,81.0,0.7
11,Alabama_Jefferson_2059,2017-01-01 11:00:00,80.0,0.6
...,...,...,...,...
5438915,Wyoming_Teton_8,2017-12-31 12:00:00,242.0,2.3
5438916,Wyoming_Teton_8,2017-12-31 13:00:00,269.0,1.9
5438917,Wyoming_Teton_8,2017-12-31 14:00:00,275.0,3.3
5438918,Wyoming_Teton_8,2017-12-31 15:00:00,254.0,1.9
5438919,Wyoming_Teton_8,2017-12-31 16:00:00,189.0,1.0
5438920,Wyoming_Teton_8,2017-12-31 17:00:00,80.0,3.1
5438921,Wyoming_Teton_8,2017-12-31 18:00:00,87.0,4.3
5438922,Wyoming_Teton_8,2017-12-31 19:00:00,91.0,4.3
5438923,Wyoming_Teton_8,2017-12-31 20:00:00,89.0,3.9
5438924,Wyoming_Teton_8,2017-12-31 21:00:00,79.0,3.3
5438925,Wyoming_Teton_8,2017-12-31 22:00:00,86.0,3.9
5438926,Wyoming_Teton_8,2017-12-31 23:00:00,68.0,2.5